# This is Git's per-user configuration file.
[user]
	name = Sebastian Rollen
	email = seb@rollen.io
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG4VBixnN/fc8EEYqTU5wg0GxwObSofyickZPnE8M6jS
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[pager]
	branch = false
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	#pager = delta
	editor = "vim -c 'set spell spelllang=en_us,sv'"
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
	amend = "commit --amend --no-verify"
	fpush = push
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[maintenance]
	repo = /Users/rollen/src/common-paper
[interactive]
	#diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	theme = Nord
[merge]
	conflictstyle = zdiff3
