unset smtp_pass
unset header_cache
unset message_cachedir
unset from
unset copy
unset sendmail

set header_cache="~/.mutt/commonpaper/cache/headers"
set message_cachedir="~/.mutt/commonpaper/cache/bodies/"
set from=sebastian@commonpaper.com
# Other email addresses that should be marked as "me"
alternates -group me rollenseb@gmail.com seb@rollen.io

set from=sebastian@commonpaper.com
set copy=no # No need to save to `record` as gmail does that already
set sendmail="/opt/homebrew/bin/msmtpq --account commonpaper"

# Setup folders
set folder = "~/Mail/CommonPaper"
set mbox_type = Maildir
set spoolfile = "+INBOX"
set record = "+Sent"
set trash = "+Trash"
set postponed = "+Drafts"
