set smtp_pass=`pass AppPassword/fastmail/mutt`
set header_cache="~/.mutt/personal/cache/headers"
set message_cachedir="~/.mutt/personal/cache/bodies/"
set from=seb@rollen.io
# Other email addresses that should be marked as "me"
alternates -group me rollenseb@gmail.com sebrollen@hotmail.com seb@rollen.io
alternates -group me -group work sebastian.rollen@betterment.com seb@overmu.se sebastian.rollen@montroseconsultingllc.com

set folder = "imaps://seb@rollen.io@imap.fastmail.com:993/"
set smtp_url = "smtps://seb@rollen.io@smtp.fastmail.com:465/"

# Setup folders
set folder = "~/Mail/Personal"
set mbox_type = Maildir
set spoolfile = "+INBOX"
set record = "+Sent"
set trash = "+Trash"
set postponed = "+Drafts"
