set smtp_pass=`pass AppPassword/sebastian@commonpaper.com`
set header_cache="~/.mutt/commonpaper/cache/headers"
set message_cachedir="~/.mutt/commonpaper/cache/bodies"
set from=sebastian@commonpaper.com
# Other email addresses that should be marked as "me"
alternates -group me rollenseb@gmail.com

set smtp_url = "smtps://sebastian@commonpaper.com@smtp.gmail.com:465/"
set smtp_authenticators = 'gssapi:login'
set copy=no # No need to save to `record` as gmail does that already

# Setup folders
set folder = "~/Mail/CommonPaper"
set mbox_type = Maildir
set spoolfile = "+INBOX"
set record = "+[Gmail].Sent Mail"
set trash = "+[Gmail].Trash"
set postponed = "+[Gmail].Drafts"
