set crypt_use_gpgme = yes    # Use GPGME
set crypt_autosign = no      # Don't sign messages by default
set crypt_replysign          # Sign replies on signed emails
set crypt_replyencrypt = yes # Encrypt replies to PGP emails by default
set crypt_replysignencrypted # Sign replies on encrypted mail
set pgp_timeout = 1800       # Ask for new GPG key after 30 minutes
